* {
  font-family: sans-serif;
}

#root, body {
  background-color: rgb(14, 14, 49);
  color: rgb(175, 173, 173);
}

.project-card:hover {
  background-color: rgb(55, 55, 161);
  color: white;
}

.project-card {
  border-radius: 8px;
}

#github-logo:hover {
  scale: 1.25;
}

.pointer:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: rgb(13, 202, 240);
}
