* {
  font-family: sans-serif;
}

#root, body {
  background-color: rgb(14, 14, 49);
  color: rgb(175, 173, 173);
}

.project-card:hover {
  background-color: rgb(13, 110, 253);
  color: white;
}

.project-card {
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#github-logo:hover {
  scale: 1.25;
}

#linkedin-logo:hover {
  scale: 1.25;
}

.pointer:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover, #nav-list>a:hover {
  color: rgb(13, 202, 240);
}

.separation {
  margin-bottom: 100px;
}

body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(14, 14, 49);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(175, 173, 173);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

#nav-list {
  width: 100px;
}

.padding-top {
  padding-top: 48px;
}

.padding-bot {
  padding-bottom: 48px;
}

#skills-style {
  gap: 5px;
}

#skills-style>span {
  font-size: 15px;
}

.active {
  font-size: 20px;
  font-weight: bold;
}

#nav-list>a {
  color: white;
  text-decoration: none;
}
