* {
  font-family: sans-serif;
}

.project-card {
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.project-card:hover {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

#github-logo:hover,
#linkedin-logo:hover,
#darkMode:hover {
  scale: 1.25;
}

.pointer:hover {
  cursor: pointer;
}

.link {
  background-color: rgb(13, 110, 253);
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
}

.link:hover {
  background-color: rgb(13, 202, 240);
}

#nav-list > a:hover {
  color: rgb(13, 202, 240);
}

#nav-list > a {
  text-decoration: underline;
  color: rgb(13, 110, 253);
}

main.separation > div {
  padding-bottom: 100px;
}

.padding-top {
  padding-top: 60px;
}

.padding-bot {
  padding-bottom: 48px;
}

#skills-style {
  gap: 5px;
}

#skills-style > span {
  font-size: 15px;
}

.skills {
  background-color: rgb(208, 207, 207);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
}

/* scroll spying isn't working as intended, will fix later */
/* .active {
  font-size: 20px;
  font-weight: bold;
} */

#navbar {
  position: fixed;
  width: 100%;
}

.navbar-spacing {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-container {
  padding-top: 50px;
  padding-left: 140px;
  padding-right: 140px;
}

#my-name {
  color: rgb(13, 110, 253);
}

#my-name:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👋</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

#snowboard:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❄️</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

#camping:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥾</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

#gopro:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>✈️</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

/* FOR DARK AND LIGHT MODE */

.light-mode {
  background-color: white;
}

.light-mode > hr {
  background-color: black;
}

.dark-mode {
  background-color: black;
  color: rgb(241, 241, 241);
}

.dark-mode > hr {
  background-color: white;
}

.github-logo-white {
  filter: invert(100%) sepia(79%) saturate(0%) hue-rotate(198deg)
    brightness(110%) contrast(100%);
}

/* for skill font color in skills section and projects section */
.dark-mode > div#skills-style > span,
.dark-mode > span.skills {
  color: black;
}

/* for box shadown in dark mode */
.dark-mode > div.project-card {
  box-shadow: rgba(148, 147, 147, 0.8) 0px 5px 15px;
}

.dark-mode > div.project-card:hover {
  box-shadow: rgb(183, 182, 182) 0px 7px 29px 0px;
}

/* END OF DARK AND LIGHT MODE */

.hidden {
  display: none;
}

.form-hover:hover {
  border-color: rgb(13, 202, 240);
}

.fade-in {
  animation: 2.5s materialize 1 ease-in;
}

@keyframes materialize {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-label {
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.carousel-indicators {
  top: 0;
  height: 5px;
}

.carousel-cont {
  margin-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-header,
.projects-header,
.skills-header,
.contact-header {
  font-size: calc(31px + 0.390625vw);
}

.skills-subheader {
  font-size: calc(27px + 0.390625vw);
}

.projects-subheader {
  font-size: calc(23px + 0.390625vw);
}

.about-body,
#nav-list > a > div,
#nav-list > a,
.name,
.projects-description,
.projects-btn > a > div,
.skills,
.contact-body,
.link,
.footer {
  font-size: calc(15px + 0.390625vw);
}

#linkedin-logo,
#github-logo,
#darkMode {
  width: 20px;
  height: 20px;
}

#nav-list,
.navbar-social {
  gap: 12px;
}

@media screen and (max-width: 1000px) {
  .body-container {
    padding-top: 30px;
    padding-left: 110px;
    padding-right: 110px;
  }

  #linkedin-logo,
  #github-logo,
  #darkMode {
    width: 18px;
    height: 18px;
  }

  #nav-list,
  .navbar-social {
    gap: 10px;
  }
}

/* padding decrease by 30px */
@media screen and (max-width: 875px) {
  .title {
    display: none;
  }

  .body-container {
    padding-left: 90px;
    padding-right: 90px;
  }

  #linkedin-logo,
  #github-logo,
  #darkMode {
    width: 16px;
    height: 16px;
  }

  #nav-list,
  .navbar-social {
    gap: 6px;
  }
}

@media screen and (max-width: 700px) {
  .body-container {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media screen and (max-width: 600px) {
  .body-container,
  .navbar-spacing {
    padding-left: 30px;
    padding-right: 30px;
  }

  #nav-list,
  .navbar-social {
    gap: 4px;
  }
}

@media screen and (max-width: 600px) {
  .body-container,
  .navbar-spacing {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 510px) {
  .body-container,
  .navbar-spacing {
    padding-left: 10px;
    padding-right: 10px;
  }

  .navbar-spacing {
    justify-content: center;
  }

  #nav-list,
  .navbar-social {
    gap: null;
  }

  .name {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .body-container,
  .navbar-spacing {
    padding-left: 5px;
    padding-right: 5px;
  }

  .navbar-social {
    justify-content: center;
  }
}
